<% @parks.each do |park| %>
  <h2>Park name: <%= park.name %> </h2><br>
  <p>Park description: <%= park.description %> </p><br>
  <p>Park directions: <%= park.directions %> </p><br>
  <p>Park hours_of_operation: <%= park.hours_of_operation %> </p><br>
<% end %>
